@import "tailwindcss";
@import "tw-animate-css";

/* Variables */
:root {
  --color-txt-primary: #ffffff;
  --bg-primary: #121212;

  color: var(--color-txt-primary);
  background-color: var(--bg-primary);
}

/* Tus utilidades personalizadas */
@layer utilities {
  .text-colorPrimary { 
    color: var(--color-txt-primary);
  }

  .bg-primary { 
    background-color: var(--bg-primary);
  }
}
